body {
  font-family: "Alata", sans-serif;
  max-width: 100%;
  margin: 0 auto;
  padding: 15px 60px;
}

h1,
h2,
h3 {
  color: #fffeff;
  text-align: center;
  padding: 10px 10px;
}

h3 {
  font-style: italic;
}

form {
  padding: 0 20px;
  text-align: center;
}
a {
  color: #fffeff;
  text-decoration: underline;
  cursor: pointer;
}

button {
  background: #f8c29c;
  color: #92a3a7;
  font-size: 18px;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

.container {
  display: block;
  margin: 20px;
  padding: 10px 45px;
}

.form-zip {
  display: block;
  margin: 0px auto;
  width: 100%;
  border: 3px solid;
  border-radius: 6px;
  border-color: #f8c29c;
  padding: 15px 20px;
}

.current-weather {
  background-color: #f9cfc0;
  border-radius: 6px;
  margin: 20px auto;
  padding: 30px;
  width: 100%;
}

.fa-cloud {
  text-align: center;
  font-size: 110px;
  color: #fffeff;
  display: block;
  padding: 15px 20px;
}
.forecast {
  margin: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.days {
  display: flex;
  /* justify-content: space-beteen; */
}

.day-1 {
  text-decoration: underline;
  padding: 15px 10px;
}

.day-2 {
  opacity: 0.5;
  padding: 15px 20px;
}
.units {
  position: relative;
  font-size: 12pt;
  top: -10px;
}
.mainWeatherImg {
  display: block;
  margin: auto;
}
#date {
  color: #fffeff;
  text-align: center;
}
